#nav >a:nth-child(2){
    color: #333!important;
}
.note{
    width: 100%;
    font-size: small;
    color: rgb(42, 42, 42);
    font-family: 'Quattrocento', serif;
    line-height: 24px;
    padding: 0 20px;
    margin: 20px 0;
}
.noteList{
    padding: 0 65px 0 80px;
}
.noteList>li{
    margin: 25px 0;
    font-family: 'Quattrocento', serif;
}
.noteList>li>p{
    color: #3e3e3e;
    font-size: 16px;
    line-height: 1.5em;
    font-family: 'Quattrocento', serif;
}
.noteList>li>p>.tip{
    color: #8d2424;
    font-family: 'Quattrocento', serif;
}
.noteList>li>p>.underline{
    font-weight: bold;
    font-family: 'Quattrocento', serif;
    text-decoration: underline;
}